@font-face {
    font-family: 'HelveticaNeueLT Com 55 Roman';
    src: url('../fonts/HelveticaNeueLTCom-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTCom-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url('../fonts/BPGNinoMtavruli-Bold.woff2') format('woff2'),
        url('../fonts/BPGNinoMtavruli-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
